html, body {
    height: 100%; /* Garante que o body ocupe toda a altura da tela */
    margin: 0; /* Remove a margem padrão do body */
    padding: 0; /* Remove o padding padrão do body */
    display: flex; /* Usa o flexbox no body */
    flex-direction: column; /* Alinha os itens em uma coluna */
    justify-content: center; /* Centraliza verticalmente os itens */
    align-items: center; /* Centraliza horizontalmente os itens */
    background-color: black; /* Cor de fundo */
    color: white; /* Cor do texto padrão */
}

h1, p {
    text-align: center; /* Garante que o texto dentro dos elementos esteja centralizado */
    margin: 0; /* Remove a margem padrão dos elementos */
    color: greenyellow;
}

ul {
    text-align: right; /* Alinha a lista à direita */
    padding: 0; /* Remove o padding padrão da lista */
    margin: 0; /* Remove a margem padrão da lista */
    list-style-type: none; /* Remove os marcadores da lista */
}

li {
    display: inline-block; /* Faz com que os itens da lista se comportem como blocos em linha */
    margin: 5px ; /* Espaçamento entre os itens da lista */
}
